:root {
	--primary: #032541;
	--primary_hover: #088bf750;
	--primary_active: #0d7ad3;
	--primary_text: #ffffff;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

.text-primary-color {
	color: var(--primary_active);
}

.main-container {
	width: 50vw;
	overflow-y: scroll !important;
	background-color: #fff;
	height: 100vh;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.main-container::-webkit-scrollbar {
	display: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
	color: #000;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	border-color: #fff;
	border-bottom: 3px solid var(--primary_active);
	color: var(--primary_active);
}

.nav-tabs {
	background-color: #fff;
	border: 1px solid #fff;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.save_post_border {
	border-bottom: 3px solid var(--primary_active);
}

@media only screen and (max-width: 780px) {
	.main-container {
		width: 100%;
		padding: 0 1px;
	}
}

.logOutBtn {
	background-color: #032541 !important;
	color: #fff !important;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
